.content {
  border: 1px solid rgb(161, 91, 58);
  border-radius: 2rem;
  margin: 3rem auto;
  padding-bottom: 3rem;
  width: 45rem;
  color: #703008ea;
  background: rgba(220, 192, 176, 0);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3rem);
}
.title {
  margin-top: 5rem;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.3rem rgb(0, 0, 0);
  text-transform: capitalize;
}
.img {
  margin-top: 1.5rem;
  box-shadow: 0px 0px 15px 3px rgba(49, 46, 46, 0.774);
  border-radius: 1rem;
}
.summary {
  color: rgb(194, 97, 97);
  padding: 0 4rem;
  text-align: justify;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}
.types {
  
  margin: 0 3rem;
  /* text-transform: capitalize; */
  display: flex;
  justify-content: space-evenly;
}

.instructions {
  padding: 0 4rem;
  font-weight: bold;
  text-align: justify;
  color: rgb(194, 97, 97);
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

.scores {
  /* display: flex; */
  justify-content: space-around;
  margin: 0 8.2rem;
}
.score {
  overflow: hidden;
  border: solid 1px rgb(124, 150, 95);
  border-radius: 20px;
}
.diet{
  text-transform: capitalize;
  text-decoration: underline;
  color: rgb(125, 194, 97);
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

.score::-webkit-progress-bar {
  background: linear-gradient(
    90deg,
    rgb(248, 17, 29) 0%,
    rgb(252, 252, 73) 50%,
    rgb(39, 236, 39) 100%
  );
}

.score::-webkit-progress-value {
  background-color: rgba(228, 222, 222, 0.171);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 0.5rem rgb(8, 8, 8);
  border-radius: 4rem;
}